.middle-images {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-google {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
    vertical-align: bottom;
}

.search-input {
    background: white;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    width: auto;
}

.search-input:hover {
    background-color: #fff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}

.search-box {
    width: auto;
    max-width: 584px;
    position: relative;
    margin: 0 auto;
}

.outer-search-box {
    padding: 20px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "header header header"
        "content content content"
        "content content content"
        "footer footer footer";
}

.logo {
    justify-self: center;
}

.share {
    justify-self: start;
    align-self: end;
    opacity: 0.8;
}

.footer-area {
    grid-area: footer;
}

button {
    border: none;
    background: none;
}

div {
    display: block;
}