/* html, 
body {
    height: 100%;
} */


.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-search {
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid #dfe1e5;
    height: 44px;
    width: 582px;
    max-width: 584px;
    padding: 0 40px;
}

.search-box {
    padding: 20px;
}

.input-search:focus {
    outline: none;
}

.input-search:hover {
    background-color: white;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}

.material-icons {
    color: #9aa0a6;
}

form {
    display: flex;
    align-items: center;
    margin-top: 0em;
}

#search-icon {
    position: absolute;
    padding-left: 10px;
}

.header-items {
    display: flex;
}

.header-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 8px;
    align-items: center;
}

.header-rhs {
    display: flex;
    justify-self: end;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 0px 10px 0px 10px;
}

a {
    color: rgba(0,0,0,0.87);
    text-decoration: none;
}

#app {
    color: #5f6368;
}

.avatar {
    border-radius: 50%;
}
